#navbar {
    background-color: hsl(0, 0%, 54%);
    display:flex;

}

#navbar h1 {
  margin: 0;
  padding: 10px
}

#navbar nav {
    margin-left: auto;
    display:flex;
    gap:30px;
    align-items:center;
    justify-content: end;
    padding:20px;
    font-size: 20px;
}
